@use '@styles/variables.scss' as *;
@use '@styles/mixin.scss' as *;

.notice {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 360px;
  height: 500px;
  overflow: hidden;
  background: var(--art-main-bg-color);
  border: 1px solid var(--art-border-color);
  border-radius: calc(var(--custom-radius) / 2 + 6px) !important;
  box-shadow:
    0 8px 26px -4px hsl(0deg 0% 8% / 15%),
    0 8px 9px -5px hsl(0deg 0% 8% / 6%);
  transition: all 0.2s;
  transform-origin: center top 0;
  will-change: top, left;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;

    .btn {
      font-size: 12px;

      &:hover {
        color: var(--el-color-primary);
        cursor: pointer;
      }
    }

    .text {
      font-size: 16px;
      font-weight: 500;
      color: var(--art-gray-800);
    }
  }

  .bar {
    padding: 0 15px;

    :deep(.el-tabs__header) {
      margin: 0 !important;
    }
  }

  .content {
    position: relative;
    top: -8px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 40px);
    padding: 0 15px;

    .notice-avatar {
      margin-right: 10px;
    }

    .notice-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 0;
      cursor: pointer;

      .notice-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .notice-title {
        flex: 1;
        width: calc(100% - 240px);
        overflow: hidden;
        font-size: 14px;
        color: var(--art-gray-700);
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .notice-time {
        font-size: 13px;
        color: var(--art-gray-500);
      }
    }
  }
}

.dark {
  .notice {
    ::-webkit-scrollbar-track {
      background-color: var(--art-main-bg-color);
    }

    ::-webkit-scrollbar-thumb {
      background-color: #222 !important;
    }
  }
}

@media only screen and (max-width: $device-phone) {
  .notice {
    top: 65px;
    right: 0;
    width: 100%;
    height: 80vh;
  }
}
